$dark: #000D15;
$dark-med: #002945;
$dark-light: #003A64;

$blue: #0087E6;
$blue-med: #0087E6;
$blue-light: #74C2F9;

$white: #C3E2F9;
$white-med: #EDF1F7;
$white-light: #F4F7FB;

$grey: #959698;
$grey-med: #A1A3A5;
$grey-light: #A1A3A5;
